body{
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.Toss-button{
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: 0;cursor: pointer;
}
.Toss-icon{
  height: 70px;
} 
.Result-icon{
  height: 70px;
}
.auto-play-button{
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 6px;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}